*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.info,
main {
  max-width: 65ch;
  margin: 0 auto;
  padding: 1.5rem;
}

.info {
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

#cat-fact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#cat-fact-count,
#get-btn {
  padding: 1rem;
  min-width: 200px;
}

#get-btn {
  cursor: pointer;
}

#cat-fact-list {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: cat-fact-counter;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.no-fact {
  text-align: center;
}

.cat-fact {
  border-radius: 0.5rem;
  padding: 1rem;
  outline: 2px solid rgb(220, 220, 220);
  counter-increment: cat-fact-counter;
  position: relative;
}

.cat-fact::before {
  content: counter(cat-fact-counter) '#';
  position: absolute;
  inset: 0 auto auto 0;
  border-radius: 0.5rem;
  background: rgb(220, 220, 220);
  padding: 0.5rem;
  font-size: 0.9rem;
  transform: translate(-50%, -50%);
}

footer {
  background: #222;
  padding: 2rem;
  margin-top: auto;
  color: #ddd;
}
